@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../../node_modules/@uploadthing/react/dist";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes bench-move {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(24px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-24px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animate-bench-move {
  animation: bench-move 3s linear infinite;
}

/* glowing background animation */
@keyframes glow-pulse {
  0%,
  100% {
    opacity: 0.3;
    box-shadow: 0 0 15px 6px rgba(72, 187, 120, 0.5);
  }
  50% {
    opacity: 0.6;
    box-shadow: 0 0 25px 12px rgba(72, 187, 120, 0.8);
  }
}

.glow-background {
  background-color: rgba(72, 187, 120, 0.15);
  filter: blur(12px);
  animation: glow-pulse 3s ease-in-out infinite;
  /* Position and shape */
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 48px;
  width: 110px;
  pointer-events: none;
}

.leaflet-popup.airbnb-popup .leaflet-popup-content {
  margin: 0;
  max-width: 92vw;
  min-width: 300px;
}
